.App {
  text-align: center;
}

button {
  margin: 20px;
  padding: auto;
  font-size: 40px;
  font-weight: 400;
  border-radius: 10px;
  border: solid 4px #583030;
  color: rgb(96, 0, 186);
}

.album-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
